

<div style="max-width: 780px; min-width: 780px; max-height: 448px; min-height: 448px;  background-color: white; overflow: hidden;">

    <mat-tab-group>
      <mat-tab label="Mudança de Cargo">
  
        <div style="margin-bottom: 18px; margin-top: 65px; margin-left: -8px;">
  
          <form class="form-grid" style="margin-top: 20px">
            <div style="margin-left: 47px;" class="div-cadastro2">
              <nb-form-field class="form-field">
                  <label for="nomeCompleto">Nome Completo</label>
                  <input disabled id="NomeCompleto" nbInput placeholder="" name="nomeCompleto">
                </nb-form-field>
                <nb-form-field class="form-field">
                  <label for="cpf">CPF</label>
                  <input disabled id="cpf" nbInput placeholder="" name="cpf">
                </nb-form-field>
              </div>
              <div style="margin-left: 47px;" class="div-cadastro2">
                <nb-form-field class="form-field">
                  <label for="novoCargo">Novo Cargo</label>
                  <input disabled id="novoCargo" nbInput placeholder="" name="novoCargo">
                </nb-form-field>
                <nb-form-field class="form-field">
                    <label for="departamento">Departamento</label>
                    <input disabled id="usuarioDepartamento" nbInput placeholder="" name="departamento">
                  </nb-form-field>

                </div>
              <div style="margin-left: 47px;" class="div-cadastro2">
                <nb-form-field class="form-field">
                  <label for="filial">Filial</label>
                  <input disabled id="usuarioFilial" nbInput placeholder="" name="filial">
                </nb-form-field>
                  <nb-form-field class="form-field">
                    <label for="regime_de_contratacao">Regime de Contratacao</label>
                    <input disabled id="regime_de_contratacao" nbInput placeholder="" name="regime_de_contratacao">
                  </nb-form-field>
                </div>

        
          </form>
  
        </div>
  
      </mat-tab >

    </mat-tab-group>
  
  </div>
  