.img-usuario {
    width: 150px; /* Adjust as needed */
  }
  
  .card-center {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    border-radius: 20px;
    max-width: 850px;
    height: 420px;
    margin: auto;            /* Ensures horizontal centering within the parent */
    position: relative;      /* For vertical centering within the parent */
    top: 250px;  
    transform: translateY(-50%);
  }
  
  .div-cadastro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .div-cadastro2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 5px;
  }
  
  
  nb-form-field {
    margin-top: 8px;
  }
  


  .center-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  nb-form-field {
    width: calc(100% - 20px);
  }

  .vertical-label {
    display: flex;
    flex-direction: column;
  }