<div style="max-width: 380px; min-width: 380px; max-height: 184px; min-height: 184px;  background-color: white; overflow: hidden;">

    <mat-tab-group>
      <mat-tab label="Confirma todos os dados?">
        <div style="margin-top: 40px; margin-left: 120px; margin-bottom: 10px;">
            
            <button nbButton  status="success">Sim</button>
            <button style="margin-left: 10px;" nbButton  status="danger">Não</button>
            
        </div>
        
      </mat-tab>
 
    </mat-tab-group>
  
  </div>