.loading-spinner-overlay {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(216, 219, 212, 0.8);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* Adicionado para organizar os itens em uma linha */
}

.sucata-notification {
  color: #9F9A97;
}

.matriz-notification {
  color: #0028D2;
}

.filial-notification {
  color: #EC9504;
}

.erro-notification {
  color: #ED1D22;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.legend-color {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
}

.sucata-color {
  background-color: #9F9A97; /* Cor de Sucata */
}

.matriz-color {
  background-color: #0028D2; /* Cor de Matriz */
}

.filial-color {
  background-color: #EC9504; /* Cor de Filial */
}

.erro-color {
  background-color: #ED1D22; /* Cor de Filial */
}