<div style="margin-bottom: 1rem; display: flex; align-items: center;">
    <div style="flex: 1;">
        <nb-select placeholder="Selecione um Filtro" [(ngModel)]="selectedFilter">
            <nb-option value="nomeComputador">Buscar por Nome do Computador</nb-option>
            <nb-option value="nomeUserAtual">Buscar por Usuário Atual</nb-option>
            <nb-option value="nomeLastUser">Buscar por Antigo Usuário</nb-option>
            <nb-option value="serial">Buscar por Serial</nb-option>
            <nb-option value="marca">Buscar por Marca</nb-option>
            <nb-option value="status">Buscar por Status</nb-option>
            <nb-option value="enderecoMac">Buscar por Mac</nb-option>
            <nb-option value="localizacao">Buscar por Localização</nb-option>
        </nb-select>
        <div *ngIf="selectedFilter" class="search-input">
            <input nbInput type="text" placeholder="Digite sua busca" style="margin-top:10px;"
                (input)="applyFilter($event)" class="mat-elevation-z1" [value]="filterValue">
        </div>
    </div>
    <nb-checkbox status="basic" [(ngModel)]="concluido" (ngModelChange)="getAllComputadores()">Sem vínculo</nb-checkbox>
</div>

<div *ngIf="concluido" style="margin-bottom: 1rem; display: flex; align-items: center;">
    <div class="legend-item" (click)="filterByStatus('DISPONIVEL')">
        <span class="legend-color disponivel-color"></span> Disponível: {{statusCounts['DISPONIVEL']}}
    </div>
    <div class="legend-item" (click)="filterByStatus('EM TRANSPORTE')">
        <span class="legend-color transporte-color"></span> Em transporte: {{statusCounts['EM TRANSPORTE']}}
    </div>
    <div class="legend-item" (click)="filterByStatus('FILIAL')">
        <span class="legend-color filial-color"></span> Filial: {{statusCounts['FILIAL']}}
    </div>
    <div class="legend-item" (click)="filterByStatus('REPARO')">
        <span class="legend-color reparo-color"></span> Reparo: {{statusCounts['REPARO']}}
    </div>
    <div class="legend-item" (click)="filterByStatus('SUCATA')">
        <span class="legend-color sucata-color"></span> Sucata: {{statusCounts['SUCATA']}}
    </div>
    <div class="legend-item" (click)="filterByStatus('ALERTA')">
        <span class="legend-color alerta-color"></span> Alerta: {{statusCounts['ALERTA']}}
    </div>
</div>


<div style="margin-top: 10px; margin-bottom: 40px;">
    <table mat-table [dataSource]="dataSource">

        <ng-container *ngIf="concluido" matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Status </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">
                <span (click)="filterByStatus(element.status)" *ngIf="element.status" class="legend-color" [ngClass]="{
                    'disponivel-color': element.status === 'DISPONIVEL',
                    'transporte-color': element.status === 'EM TRANSPORTE',
                    'filial-color': element.status === 'FILIAL',
                    'reparo-color': element.status === 'REPARO',
                    'sucata-color': element.status === 'SUCATA',
                    'alerta-color': element.status === 'ALERTA'
                }">
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="userAtual">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> User Atual </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.nomeUserAtual}} </td>
        </ng-container>

        <!-- CPF Column -->
        <ng-container matColumnDef="nomeComputador">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Nome do Computador </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.nomeComputador}}
            </td>
        </ng-container>

        <!-- Telefone Column -->
        <ng-container matColumnDef="mac">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> MAC </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.enderecoMac}} </td>
        </ng-container>

        <!-- Departamento Column -->
        <ng-container matColumnDef="nomeUsuario">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Nome do Perfil </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.nomeUsuario}} </td>
        </ng-container>

        <ng-container matColumnDef="serial">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Patrimônio </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.serial}} </td>
        </ng-container>

        <ng-container matColumnDef="localizacao">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Localização </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.localizacao}} </td>
        </ng-container>

        <ng-container matColumnDef="acao">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Ações </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">
                <button mat-button [matMenuTriggerFor]="menu"><nb-icon icon="more-vertical-outline"></nb-icon></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openComputadores(element)"><nb-icon icon="eye-outline"></nb-icon>
                        Visualizar</button>
                    <button mat-menu-item (click)="openLog(element)"><nb-icon icon="alert-circle-outline"></nb-icon>
                        Log
                    </button>
                    <button *ngIf="element.status === 'SUCATA'" mat-menu-item
                        (click)="deletarComputador(element)"><nb-icon icon="trash-2-outline"></nb-icon>
                        Deletar Computador
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[8, 25, 100]" showFirstLastButtons aria-label="Select page">
    </mat-paginator>

    <div *ngIf="loading" class="loading-spinner-overlay">
        <mat-spinner diameter="50"></mat-spinner>
        <p>Carregando dados...</p>
    </div>

</div>