<div
  style="max-width: 780px; min-width: 780px; max-height: 590px; min-height: 510px;  background-color: white; overflow: hidden;">

  <mat-tab-group>

    <mat-tab label="Ativos">

      <div style=" margin-left: 54px;">

        <div class="div-cadastro">
          <nb-form-field>
            <label for="nome">Nome</label>
            <input [(ngModel)]="data.gestaoAtivos.nome" class="todos-inputs" id="nome" nbInput name="nome">
          </nb-form-field>
          <nb-form-field>
            <label for="tipo">Tipo</label>
            <input disabled [(ngModel)]="data.gestaoAtivos.tipo" class="todos-inputs" id="tipo" nbInput name="tipo">
          </nb-form-field>

        </div>

        <label style="margin-top: 10px;" for="descricao">Descrição</label>
        <textarea [(ngModel)]="data.gestaoAtivos.descricao" style="padding: 50px; margin-bottom: 10px; width: 92.5%;"
          fullWidth class="buttons" name="descricao" nbInput placeholder=""></textarea>

        <div class="div-cadastro">

          <nb-form-field>
            <label for="status">Status</label>
            <nb-select [(ngModel)]="data.gestaoAtivos.status" class="todos-inputs" name="status" placeholder="">
              <nb-option value="Ativo">Ativo</nb-option>
              <nb-option value="Em estoque">Em estoque</nb-option>
              <nb-option value="Defeito">Defeito</nb-option>
            </nb-select>
          </nb-form-field>

          <nb-form-field>
            <label for="localizacao">Localização</label>
            <nb-select [(ngModel)]="data.gestaoAtivos.localizacao" class="todos-inputs" name="localizacao"
              placeholder="" [(selected)]="selectedItemCategoria2">
              <nb-option *ngFor="let filial of filial" [value]="filial.filiais">
                {{filial.filiais}}
              </nb-option>
            </nb-select>
          </nb-form-field>

        </div>

        <div class="div-cadastro">
          <nb-form-field>
            <label for="serial">Serial</label>
            <input [(ngModel)]="data.gestaoAtivos.serial" class="todos-inputs" id="serial" nbInput name="serial">
          </nb-form-field>


          <button class="button" (click)="atualizar()" style="margin-top: 33px; width: 86%; height: 40px;" nbButton
            status="basic">Atualizar</button>

        </div>

      </div>

    </mat-tab>

  </mat-tab-group>

</div>