.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh; // Ajusta a altura para ocupar a tela inteira
    width: 100%; // Ocupa toda a largura
    margin-top: -20px
  }
  
