<div style="max-width: 780px; min-width: 780px; max-height: 448px; min-height: 448px;  background-color: white; overflow: hidden;">

    <mat-tab-group>
      <mat-tab label="Solicitar Desligamento">

        <div style="margin-bottom: 18px; margin-top: 120px; margin-left: 41px;">
  
            <form>
                <div class="center-content">
                  <nb-form-field style="margin-right: 10px;">
                    <label for="usuarioCPF">CPF</label>

                      <input disabled fullWidth class="todos-inputs" id="usuarioCPF" nbInput placeholder="" name="cpf">

                  </nb-form-field>
                  <nb-form-field >
                        <label for="nomeCompleto">Nome Completo</label>
                        <input disabled fullWidth class="todos-inputs" id="nomeCompleto" nbInput name="nomeCompleto">
                  </nb-form-field>
                </div>
            </form>
  
        </div>
  
      </mat-tab>


    </mat-tab-group>
  
  </div>