.img-usuario {
    width: 150px; /* Adjust as needed */
  }
  
  .card-center {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    border-radius: 20px;
    max-width: 850px;
    height: 360px;
    margin: auto;            /* Ensures horizontal centering within the parent */
    position: relative;      /* For vertical centering within the parent */
    top: 250px;  
    transform: translateY(-50%);
  }
  
  .div-cadastro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .todos-inputs {
    width: calc(100% - 20px); // Ajusta para que haja um espaço para a borda
  }
  
  nb-form-field {
    margin-top: 15px;
  }
  
  .todos-inputs,
  nb-select {
    width: 100%;
  }
  
  .select-checkbox-and-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  