<div style="max-width: 780px; min-width: 780px; max-height: 478px; min-height: 478px;  background-color: white; overflow: hidden;">

  <mat-tab-group>
    <mat-tab label="Colaborador">
      <div style="margin-left: 17px;">

        <form class="form-grid" style=" margin-top: 28px; margin-left: 38px;">
          <div class="div-cadastro">
            <nb-form-field>
              <label for="data.colaboradoresCompleto.colaboradorDTO.nome">Nome Completo</label>
              <input disabled class="todos-inputs" id="data.colaboradorCompleto.colaboradoresDTO.nome" nbInput 
              name="data.colaboradorCompleto.colaboradoresDTO.nome" [(ngModel)]="data.colaboradorCompleto.colaboradoresDTO.nome">
            </nb-form-field>
            <nb-form-field>
              <label for="data.colaboradoresCompleto.colaboradorDTO.numero" >Número de telefone</label>
              <input disabled for="data.colaboradoresCompleto.colaboradorDTO.numero" class="todos-inputs" 
              id="data.colaboradoresCompleto.colaboradorDTO.numero" nbInput placeholder="" 
              name="numero" [(ngModel)]="data.colaboradorCompleto.colaboradoresDTO.numero">
            </nb-form-field>
          </div>
          <div class="div-cadastro">
            <nb-form-field>
                <label for="data.colaboradoresCompleto.colaboradorDTO.cpf">CPF</label>
                <div style="display: flex;">
                    <input disabled class="todos-inputs" id="usuarioCPF" nbInput placeholder="" name="data.colaboradoresCompleto.colaboradorDTO.cpf" [(ngModel)]="data.colaboradorCompleto.colaboradoresDTO.cpf">
                </div>
            </nb-form-field>
            <nb-form-field class="form-field">
                <label for="data.colaboradoresCompleto.colaboradorDTO.filial">Filial</label>
                <input disabled class="todos-inputs" id="usuarioFilial" nbInput placeholder="" name="data.colaboradoresCompleto.colaboradorDTO.filial" [(ngModel)]="data.colaboradorCompleto.colaboradoresDTO.filial">
            </nb-form-field>
        </div>
        <div class="div-cadastro">
            <nb-form-field>
                <label for="data.colaboradoresCompleto.colaboradorDTO.cargo">Cargo</label>
                <input disabled class="todos-inputs" id="usuarioCargo" nbInput placeholder="" name="data.colaboradoresCompleto.colaboradorDTO.cargo" [(ngModel)]="data.colaboradorCompleto.colaboradoresDTO.cargo">
            </nb-form-field>
            <nb-form-field class="form-field">
                <label for="data.colaboradoresCompleto.colaboradorDTO.departamento">Departamento</label>
                <input disabled class="todos-inputs" id="usuarioDepartamento" nbInput placeholder="" name="data.colaboradoresCompleto.colaboradorDTO.departamento" [(ngModel)]="data.colaboradorCompleto.colaboradoresDTO.departamento">
            </nb-form-field>
        </div>

        <div class="div-cadastro">
          <nb-form-field class="form-field">
            <label for="data.colaboradoresCompleto.colaboradorDTO.regimeContratacao">Regime de Contratação</label>
            <input disabled class="todos-inputs" id="usuarioregimeContratacao" nbInput placeholder="" 
            name="data.colaboradoresCompleto.colaboradorDTO.regimeContratacao" [(ngModel)]="data.colaboradorCompleto.colaboradoresDTO.regimeContratacao">
          </nb-form-field>
          <nb-form-field class="form-field">
            <label for="data.colaboradoresCompleto.colaboradorDTO.termo">Possui Termo</label>
            <input disabled class="todos-inputs" id="usuario.termo" nbInput placeholder="" 
            name="data.colaboradoresCompleto.colaboradorDTO.termo" [(ngModel)]="data.colaboradorCompleto.colaboradoresDTO.termo">
          </nb-form-field>
        </div>
        </form>

      </div>

    </mat-tab>

    <mat-tab label="Computador">

      <div style=" margin-left: 52px;">

        <form>
          <div class="center-content" style="margin-top: 5px;">
            <nb-form-field style="flex: 1;">
              <label for="data.colaboradorCompleto.computadoresDTO.nomeComputador">Nome do Computador</label>
              <input disabled for="data.colaboradorCompleto.computadoresDTO.nomeComputador" 
              class="todos-inputs" id="nome_do_computador" nbInput name="nome_do_computador"
              [(ngModel)]="data.colaboradorCompleto.computadoresDTO.nomeComputador">
            </nb-form-field>
          </div>
        </form>
        
        <div class="div-cadastro">
          <nb-form-field>
            <label for="data.colaboradorCompleto.computadoresDTO.nomeUsuario">Nome de Usuário</label>
            <input disabled class="todos-inputs" id="nomeUsuario" nbInput name="nomeUsuario"
            [(ngModel)]="data.colaboradorCompleto.computadoresDTO.nomeUsuario">
          </nb-form-field>
          <nb-form-field>
            <label for="data.colaboradorCompleto.computadoresDTO.enderecoMAC">MAC</label>
            <input disabled class="todos-inputs" id="enderecoMAC" nbInput placeholder="" name="enderecoMAC"
            [(ngModel)]="data.colaboradorCompleto.computadoresDTO.enderecoMac">
          </nb-form-field>
        </div>
        
        <div class="div-cadastro">
          <nb-form-field>
            <label for="data.colaboradorCompleto.computadoresDTO.marca">Marca</label>
            <input disabled class="todos-inputs" id="marca" nbInput name="marca"
            [(ngModel)]="data.colaboradorCompleto.computadoresDTO.marca">
          </nb-form-field>
          <nb-form-field>
            <label for="data.colaboradorCompleto.computadoresDTO.modelo">Modelo</label>
            <input disabled class="todos-inputs" id="modelo" nbInput placeholder="" name="modelo"
            [(ngModel)]="data.colaboradorCompleto.computadoresDTO.modelo">
          </nb-form-field>
        </div>
        
        <div class="div-cadastro">
          <nb-form-field>
            <label for="data.colaboradorCompleto.computadoresDTO.memoriaRam">RAM</label>
            <input disabled class="todos-inputs" id="RAM" nbInput name="memoriaRam"
            [(ngModel)]="data.colaboradorCompleto.computadoresDTO.memoriaRam">
          </nb-form-field>
          <nb-form-field>
            <label for="data.colaboradorCompleto.computadoresDTO.capacidadeArmazenamento">Armazenamento</label>
            <input disabled class="todos-inputs" id="capacidadeArmazenamento" nbInput placeholder="" name="armazenamento"
            [(ngModel)]="data.colaboradorCompleto.computadoresDTO.capacidadeArmazenamento">
          </nb-form-field>
        </div>
        
        <div class="center-content">
          <nb-form-field>
            <label for="data.colaboradorCompleto.computadoresDTO.MAKRO">MAKRO</label>
            <input disabled class="todos-inputs" id="MAKRO" nbInput name="MAKRO"
            [(ngModel)]="data.colaboradorCompleto.computadoresDTO.makroInstalado">
          </nb-form-field>
        </div>

  
      </div>

    </mat-tab>

    <!-- <mat-tab label="Acessos">

      <div style="margin-bottom: 18px; margin-top: 50px; margin-left: 55px;">

        <div class="div-cadastro">
          <nb-form-field>
            <label for="data.colaboradorCompleto.acessosDTO.vr">VR</label>
            <input disabled for="data.colaboradorCompleto.acessosDTO.vr" id="vr" nbInput name="vr" [(ngModel)]="data.colaboradorCompleto.acessosDTO.vr">
          </nb-form-field>
          <nb-form-field>
            <label for="gmail">Gmail</label>
            <input disabled for="gmail" id="gmail" nbInput name="gmail" [(ngModel)]="data.colaboradorCompleto.acessosDTO.gmail">
          </nb-form-field>
        </div>
        
        <div class="div-cadastro">
          <nb-form-field>
            <label for="FreteBras">FreteBras</label>
            <input disabled for="FreteBras" id="FreteBras" nbInput name="FreteBras" [(ngModel)]="data.colaboradorCompleto.acessosDTO.freteBras">
          </nb-form-field>
          <nb-form-field>
            <label for="SZ_chat">SZ.chat</label>
            <input disabled for="SZ.chat" id="SZ_chat" nbInput name="SZ_chat" [(ngModel)]="data.colaboradorCompleto.acessosDTO.szChat">
          </nb-form-field>
        </div>
        
        <div class="div-cadastro">
          <nb-form-field>
            <label for="Zoho">Zoho</label>
            <input disabled for="Zoho" id="Zoho" nbInput name="Zoho" [(ngModel)]="data.colaboradorCompleto.acessosDTO.zoho">
          </nb-form-field>
          <nb-form-field>
            <label for="Central_TI">Central T.I</label>
            <input disabled for="Central T.I" id="Central_TI" nbInput name="Central_TI" [(ngModel)]="data.colaboradorCompleto.acessosDTO.centralTi">
          </nb-form-field>
        </div>


  
      </div>

    </mat-tab> -->

  </mat-tab-group>

</div>
