<div style="max-width: 1300px; min-width: 1100px; max-height: 640px; min-height: 550px;  background-image: url('../../../../assets/img/background6.jpg'); overflow: hidden;">

    <mat-tab-group>
      <mat-tab label="Chamado">
        <div class="container" style="margin: 40px;">

          <label style="margin-top: 0px;" for="titulo">Título</label>
          <input [(ngModel)]="data.chamados.titulo" disabled fullWidth class="buttons" name="titulo" type="text" nbInput fieldSize="large" placeholder="">
      
        <label style="margin-top: 10px;" for="descri">Descrição</label>
        <textarea [(ngModel)]="data.chamados.descri" disabled style="padding: 50px; margin-bottom: 10px;" fullWidth class="buttons" name="descri" nbInput placeholder=""></textarea>
    
        <div class="div-cadastro" style=" display: flex; flex-wrap: wrap; justify-content: space-between;">
    
          <div style="flex-basis: 48%;">
            <label style="margin-top: 12px;" for="prioridade">Prioridade</label>
            <input [(ngModel)]="data.chamados.prioridade" disabled fullWidth nbInput class="buttons" name="prioridade" placeholder="">
            
          </div>
        
          <div style="flex-basis: 48%;">
            <label style="margin-top: 12px;" for="categoria">Categoria</label>
            <input disabled fullWidth nbInput [(ngModel)]="data.chamados.categoria" class="buttons" name="categoria" placeholder="">
          </div>
        
        </div>
    
        <button  style="margin-top: 2rem; margin-left: 0rem"  class="buttons" (click)="openImage()" nbButton>Ver arquivo</button>
      </div>
      </mat-tab>
      <mat-tab label="Comentários">
        <nb-card style="height: 550px; margin-bottom: -0px;"> <!-- Defina uma altura máxima para o card -->
          <nb-card-body style="overflow-y: auto;"> <!-- Adicione a propriedade overflow-y -->
            <div *ngFor="let msg of chatChamados">
              <nb-card>
                <nb-card-body>
                  <app-user-info [name]="msg.nomeUser" [title]="msg.userVinculado"></app-user-info>
                  <div style="margin-top: 18px; white-space: pre-wrap;">
                    <span>{{ msg.message }}</span>
                    <div>
                      <button *ngIf="msg.arquivo"
                       style="margin-top: 10px;" nbButton status="basic" (click)="openImageChat(msg.id, msg.arquivo)">
                        Ver arquivo
                      </button>
                    </div>
                    <p style="margin-left: 56rem;">{{ msg.datahora | date:'dd-MM-yyyy HH:mm' }}</p>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
          </nb-card-body>
      
          <nb-card-footer>
            <div style="display: flex; align-items: center; ">
                <textarea [disabled]="this.data.chamados.status !== 'Em aberto' && this.data.chamados.status !== 'Pendente' && this.data.chamados.status !== 'Atribuido'"
                    nbInput fullWidth class="input-comentario" [(ngModel)]="chatDTO.message" 
                    placeholder="Escreva sua mensagem" rows="3" maxlength="255"></textarea>
                <button [disabled]="this.data.chamados.status !== 'Em aberto' && this.data.chamados.status !== 'Pendente' && this.data.chamados.status !== 'Atribuido'"
                    style="margin-left: 20px;" nbButton status="basic" (click)="sendMessage()">
                    <nb-icon icon="paper-plane-outline"></nb-icon>
                </button>
            </div>
            <input #fileInput [disabled]="this.data.chamados.status !== 'Em aberto' && this.data.chamados.status !== 'Pendente' && this.data.chamados.status !== 'Atribuido'" (change)="onFileChange($event)"  style="margin-top: 10px;" type="file" accept=".pdf,.doc,.docx,.jpg,.png"> <!-- Adicione o input file para upload de arquivos -->
        </nb-card-footer>
        </nb-card>
      </mat-tab>
    </mat-tab-group>
  
</div>